.menu {
  text-align: right;
}

.menuItem {
  font-size: 20px;
  display: inline-block;
  //font-family: 'Pacifico', cursive;
  //font-family: 'Fredericka the Great', cursive;
  font-family: 'Oswald', sans-serif;
}
